    * {
        padding: 0;
        margin: 0;
    }
    
    html {
        width: 100%;
        height: 100%;
        background-color: #2f323a;
    }
    
    head {
        display: none;
    }
    
    body {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
    }
    
    header {
        width: 100%;
        height: 5vh;
        color: white;
        background-color: #2f323a;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    nav {
        display: flex;
        width: 100%;
        height: 100%;
        border-bottom-style: double;
        border-color: #7e7975;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    
    nav a {
        font-weight: bold;
        color: white;
        padding: 0vh 1.5vw 0vh 1.5vw;
        cursor: pointer;
        transition: .5s;
        font-size: 2vh;
    }
    
    nav a:hover {
        cursor: pointer;
        font-size: 2.5vh;
        transition: .5s;
    }
    
    #container-candy-machine {
        display: none;
        flex-direction: row-reverse;
        height: 95vh;
        width: 100vw;
        background-color: #333;
    }
    /* Start show wallet */
    
    #check:checked~.contents-wallet {
        height: 90vh;
        width: 25%;
        display: flex;
        flex-direction: column;
        transition: .5s;
    }
    
    .contents-wallet {
        display: none;
        transition: .5s;
    }
    
    input[type="checkbox"] {
        display: none;
    }
    
    .body-wallet {
        transition: .5s;
        z-index: 1;
        display: flex;
        flex-direction: column;
        min-inline-size: min-content;
        background-color: #333;
        width: 100%;
        height: inherit;
        left: 0;
    }
    
    .body-wallet li {
        list-style: none;
    }
    
    .body-wallet a {
        text-decoration: none;
        display: block;
        padding: 3vh 0vh;
        color: #ffffff;
    }
    
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    ul p {
        font-family: Roboto;
        font-size: 4vw;
        font-weight: bold;
        color: #ffffff;
    }
    
    #cash-5 {
        height: 15vh;
        transition: .5s ease;
    }
    
    #cash-5:hover {
        height: 17vh;
    }
    
    #cash-2 {
        height: 15vh;
        transition: .5s ease;
    }
    
    #cash-2:hover {
        height: 17vh;
    }
    
    #cash-1 {
        height: 15vh;
        transition: .5s ease;
    }
    
    #cash-1:hover {
        height: 20vh;
    }
    /* End show wallet */
    
    .contents {
        background: url("../img/background.png");
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        background-size: cover;
        z-index: 0;
    }
    /* Start show candy machine */
    
    .body-machine {
        width: 50%;
        height: 75%;
        display: flex;
        flex-direction: row;
        align-items: center;
        background: #2f323a;
        border-radius: 10px;
        min-inline-size: min-content;
        box-shadow: inset 0 0 1vh 0.9vh rgb(113 112 112 / 30%);
    }
    /* Start Show porducts */
    
    .candy-position {
        height: 30%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .candy {
        width: 5vw;
        height: 5vw;
    }
    
    .candies {
        height: 100%;
        min-block-size: min-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .candies img {
        width: 6vw;
        height: 6vw;
    }
    
    .candies p {
        font-family: Roboto;
        font-style: italic;
        font-size: 1.6vh;
        font-weight: bold;
        padding: 0% 8% 0% 8%;
        color: white;
        background-color: #222222;
        border-radius: 7px;
        cursor: default;
        text-align: center;
    }
    
    #line {
        background-color: #2f323a;
        height: 0.3vh;
        width: 100%;
        cursor: default;
    }
    
    #title-machine {
        font-family: Roboto;
        font-style: italic;
        font-size: 4vh;
        font-weight: bold;
        padding: 0% 8% 0% 8%;
        color: #2f323a;
        border-radius: 7px;
        cursor: default;
    }
    
    #products {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 1.5vh 0 3vh;
    }
    
    #products-input {
        width: 100%;
        height: 75%;
        display: flex;
        min-inline-size: min-content;
        align-items: center;
        background: #ffffff;
        box-shadow: 0 0 1.2vh 1.1vh rgb(113 112 112 / 30%);
        border-radius: 10px;
    }
    
    #shelf-input {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
    
    #products-output {
        width: 50%;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        background: #ffffff;
        box-shadow: 0 0 1.2vh 1.1vh rgb(113 112 112 / 30%);
    }
    
    #shelf-output {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* End Show porducts */
    /* Start Control */
    
    #control {
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 5px;
        padding: 0 3vh 0 1.5vh;
    }
    /* start candy choice  */
    
    #buttons-candy {
        width: 90%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background: #4a4c51;
        border-radius: 5px;
        list-style: none;
        padding: 5%;
        box-shadow: inset 0 0 0.9vh 1.2vh rgb(113 112 112 / 30%);
        min-inline-size: max-content;
    }
    
    #show-input-cash {
        width: 50%;
        height: 5%;
        background: #2f323a;
        color: white;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s ease;
        padding: 5% 0% 5% 0%;
        font-size: 2vh;
        min-inline-size: max-content;
        cursor: default;
        margin-top: 10%;
        padding: 0.7vh;
    }
    
    #btA {
        width: 80%;
        height: 15%;
        background: #c4d202;
        border-radius: 100px;
        justify-content: center;
        align-items: center;
        transition: 0.5s ease;
        margin: 40% 0% 10% 0%;
        text-align: center;
        box-shadow: inset 0 0 4px 4px rgb(113 112 112 / 30%);
    }
    
    #btA:hover {
        background: #6c7308;
        box-shadow: inset 0 0 4px 4px rgb(113 112 112 / 30%);
        cursor: pointer;
    }
    
    #btA a {
        text-decoration: none;
        font-family: Roboto;
        font-style: italic;
        font-weight: bold;
        font-size: 2.2vh;
        color: #ffffff;
    }
    
    #btB {
        width: 80%;
        height: 15%;
        background: #d92b25;
        text-decoration: none;
        border-radius: 100px;
        justify-content: center;
        align-items: center;
        transition: 0.5s ease;
        margin: 10% 0% 10% 0%;
        text-align: center;
        box-shadow: inset 0 0 4px 4px rgb(113 112 112 / 30%);
    }
    
    #btB:hover {
        background: #921d19;
        box-shadow: inset 0 0 4px 4px rgb(113 112 112 / 30%);
        cursor: pointer;
    }
    
    #btB a {
        text-decoration: none;
        font-family: Roboto;
        font-style: italic;
        font-weight: bold;
        font-size: 2.2vh;
        color: #ffffff;
    }
    
    #btC {
        width: 80%;
        height: 15%;
        background: #2fb6e6;
        text-decoration: none;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s ease;
        margin: 10% 0% 10% 0%;
        text-align: center;
        box-shadow: inset 0 0 4px 4px rgb(113 112 112 / 30%);
    }
    
    #btC:hover {
        background: #1b799a;
        box-shadow: inset 0 0 4px 4px rgb(113 112 112 / 30%);
        cursor: pointer;
    }
    
    #btC a {
        text-decoration: none;
        font-family: Roboto;
        font-style: italic;
        font-weight: bold;
        font-size: 2.2vh;
        color: #ffffff;
    }
    /*End candy choice  */
    /* Start  cash control*/
    
    #cash-input {
        width: 90%;
        height: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        list-style: none;
        padding: 5% 0% 5% 0%;
    }
    
    #cash-input label {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        height: fit-content;
        z-index: 1;
        transition: 1s;
    }
    
    #wallet {
        width: 3vw;
        cursor: pointer;
        transition: .5s;
        animation: pulse-white 2s infinite;
        border-radius: 0.5vw;
    }
    
    #wallet:hover {
        width: 4vw;
        cursor: pointer;
        transition: .5s;
    }
    
    #cash-output {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        height: 10%;
        padding: 5% 0% 5% 0%;
    }
    
    #cash-output p {
        color: white;
        font-size: 2.5vh;
        cursor: default;
    }
    
    #show-output-cash {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #4a4c51;
        color: white;
        border-radius: 5px;
        list-style: none;
        padding: 5% 0% 5% 0%;
        box-shadow: inset 0 0 0.9vh 1.2vh rgb(113 112 112 / 30%);
        min-inline-size: max-content;
        cursor: grab;
        font-size: 2vh;
    }
    /* End  cash control*/
    
    #take {
        width: 60%;
        height: 4%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 63px;
        list-style: none;
        padding: 5% 0% 5% 0%;
        background: #0f493d;
        color: white;
        transition: 0.5s ease;
        cursor: grab;
        min-inline-size: min-content;
        padding: 2px;
    }
    
    #take a {
        font-size: 3vh;
    }
    /* End part Control */
    /* END show candy machine */
    /* ###################################################### */
    /* Start elevator */
    
    #container-elevator {
        display: none;
        flex-direction: row-reverse;
        height: 95vh;
        width: 100vw;
        background-color: #0f0000;
        transition: .5s;
    }
    
    #container-elevator h2 {
        color: white;
        font-weight: bold;
        font-size: 5vh;
        position: absolute;
        left: 7vh;
        padding: 7vh 0vw 0vh 0vw;
    }
    /*TODO  */
    
    .pavement-4 {
        height: 3.75vh;
        width: 100vw;
        position: absolute;
        top: 25.7vh;
        z-index: 1;
        background-image: url(../img/pavement.png);
        background-size: cover;
    }
    
    .pavement-3 {
        height: 3.75vh;
        width: 100vw;
        position: absolute;
        top: 49.3vh;
        z-index: 1;
        background-image: url(../img/pavement.png);
        background-size: 100% 100%;
    }
    
    .pavement-2 {
        height: 3.75vh;
        width: 100vw;
        position: absolute;
        top: 72.8vh;
        z-index: 1;
        background-image: url(../img/pavement.png);
        background-size: 100% 100%;
    }
    
    .pavement-1 {
        height: 3.75vh;
        width: 100vw;
        position: absolute;
        top: 96.25vh;
        z-index: 1;
        background-image: url(../img/pavement.png);
        background-size: 100% 100%;
    }
    
    #control-panel img {
        width: 3vw;
        cursor: pointer;
        transition: .5s;
        border-radius: 20vw;
        animation: pulse-white 2s infinite;
    }
    
    #control-panel img:hover {
        width: 4vw;
        cursor: pointer;
        transition: .5s;
    }
    
    .buttons-control-panel {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        width: 10vw;
        height: 20vh;
        left: 45vw;
        border-radius: 25vw;
        background-color: #2a1912c2;
        min-inline-size: min-content;
        box-shadow: inset 0 0 1.4vh 0.8vh rgb(42 25 18);
        animation: pulse-Brown 2s infinite;
    }
    
    .close {
        display: none;
    }
    
    .buttons-control-panel.BCP4 {
        top: 6vh;
    }
    
    .buttons-control-panel.BCP3 {
        top: 29.5vh;
    }
    
    .buttons-control-panel.BCP2 {
        top: 53vh;
    }
    
    .buttons-control-panel.BCP1 {
        top: 76.3vh;
    }
    
    #andares {
        width: 100%;
        height: 100%;
        position: fixed;
        display: flex;
        flex-direction: column;
    }
    
    #quarto {
        width: 100vw;
        height: 23.75vh;
        background-color: #d8690acc;
        box-shadow: inset 0 0 2.8vh 0px rgb(60 29 4);
    }
    
    #sala {
        width: 100vw;
        height: 23.75vh;
        background-color: #790c0c96;
        box-shadow: inset 0 0 2.8vh 0px rgb(255 255 255 / 12%);
    }
    
    #consinha {
        width: 100vw;
        height: 23.75vh;
        background-color: #0d0f00;
        box-shadow: inset 0 0 2.8vh 0px rgb(113 112 112 / 31%);
    }
    
    #entrada {
        width: 100vw;
        height: 23.75vh;
        background-color: #13b5aa29;
        box-shadow: inset 0 0 2.8vh 0px rgb(113 112 112 / 20%);
    }
    
    .poco {
        background-color: #ad8e6a;
        width: 10vw;
        height: 95vh;
        float: left;
        margin: 0px 45vw;
        position: absolute;
        z-index: 0;
        box-shadow: inset 0 0 0.8vh 1.6vh rgb(203 166 123);
    }
    
    .poco .control-elevator {
        width: 3vh;
        height: 8vh;
        display: flex;
        position: absolute;
        flex-direction: row;
        align-items: center;
        background: #2a1912;
        border-radius: 10px;
        min-inline-size: min-content;
        box-shadow: inset 0 0 10px 2px rgb(113 112 112 / 30%);
        left: 17.9vw;
        cursor: pointer;
        color: white;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .button-up {
        background-image: url(../img/Up.png);
        background-size: 100% 100%;
        margin: 0.5vh 0vh 0.5vh 0vh;
        height: 2vh;
        transition: .5s;
        width: 2vh;
        border-radius: 20vw;
        animation: pulse-white 2s infinite;
    }
    
    .button-up:hover {
        background-image: url(../img/Up-Selected.png);
        transition: .5s;
        background-size: 100% 100%;
        margin: 0.5vh 0vh 0.5vh 0vh;
        height: 2vh;
        width: 2vh;
        border-radius: 20vw;
        animation: pulse-red 2s infinite;
    }
    
    .button-up-selected {
        background-image: url(../img/Up-Selected.png);
        transition: .5s;
        background-size: 100% 100%;
        margin: 0.5vh 0vh 0.5vh 0vh;
        height: 2vh;
        width: 2vh;
        border-radius: 20vw;
        animation: pulse-red 2s infinite;
    }
    
    .button-down {
        background-image: url(../img/Down.png);
        background-size: 100% 100%;
        margin: 0.5vh 0vh 0.5vh 0vh;
        height: 2vh;
        transition: .5s;
        width: 2vh;
        border-radius: 20vw;
        animation: pulse-white 2s infinite;
    }
    
    .button-down:hover {
        background-image: url(../img/Down-Selected.png);
        transition: .5s;
        background-size: 100% 100%;
        margin: 0.5vh 0vh 0.5vh 0vh;
        height: 2vh;
        width: 2vh;
        border-radius: 20vw;
        animation: pulse-red 2s infinite;
    }
    
    .button-down-selected {
        background-image: url(../img/Down-Selected.png);
        transition: .5s;
        background-size: 100% 100%;
        margin: 0.5vh 0vh 0.5vh 0vh;
        height: 2vh;
        width: 2vh;
        border-radius: 20vw;
        animation: pulse-red 2s infinite;
    }
    
    .poco .control-elevator.CE4 {
        top: 9vh;
    }
    
    .poco .control-elevator.CE3 {
        top: 33vh;
    }
    
    .poco .control-elevator.CE2 {
        top: 56.5vh;
    }
    
    .poco .control-elevator.CE1 {
        top: 80vh;
    }
    
    .poco .button {
        border-radius: 20vh;
        width: 3vh;
        height: 3.1vh;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: pulse-white 2s infinite;
    }
    
    .button span {
        color: white;
        border-radius: 20vw;
        font-size: 2.8vh;
        position: absolute;
    }
    
    .poco .sign {
        position: absolute;
        width: 5vw;
        height: 1.6vh;
        color: white;
        text-align: center;
        font-size: 1.2vh;
        font-weight: bold;
        font-family: verdana;
        left: 2.5vw;
        background: #2a1912;
        border-radius: 10px;
        min-inline-size: min-content;
        box-shadow: inset 0 0 10px 2px rgb(113 112 112 / 30%);
        animation: pulse-white 2s infinite;
        overflow-x: clip;
    }
    
    .poco .sign.L4 {
        top: 1vh;
        position: absolute;
        left: 16vw;
        cursor: default;
    }
    
    .poco .sign.L3 {
        top: 25.5vh;
        position: absolute;
        left: 16vw;
        cursor: default;
    }
    
    .poco .sign.L2 {
        top: 49vh;
        position: absolute;
        left: 16vw;
        cursor: default;
    }
    
    .poco .sign.L1 {
        top: 72.5vh;
        position: absolute;
        left: 16vw;
        cursor: default;
    }
    
    .direction {
        color: white;
        text-align: center;
        font-size: 1.2vh;
        font-weight: bold;
    }
    
    .down {
        position: absolute;
        animation: MoveDown 2s infinite;
    }
    
    .up {
        position: absolute;
        animation: MoveUp 2s infinite;
    }
    
    .entranceFloorInput {
        position: absolute;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        list-style: none;
        right: 64vw;
    }
    
    .entranceFloorInput.EFI4 {
        top: 6.5vh;
    }
    
    .entranceFloorInput.EFI3 {
        top: 30vh;
    }
    
    .entranceFloorInput.EFI2 {
        top: 53.5vh;
    }
    
    .entranceFloorInput.EFI1 {
        top: 76.5vh;
    }
    
    .elevator {
        width: 10vw;
        height: 20vh;
        border: none;
        margin: 0;
        background-color: white;
        position: absolute;
        transition: top linear;
        -webkit-transition: top linear;
        -moz-transition: top linear;
        -o-transition: top linear;
        -ms-transition: top linear;
        background-image: url(../img/bg.jpg);
        background-size: 100% 100%;
    }
    
    .elevator .door {
        width: 5vw;
        height: 20vh;
        background-color: #f9efe0;
        position: absolute;
        z-index: 1;
        transition: left linear 1s, right linear 1s;
        -webkit-transition: left linear 1s, right linear 1s;
        -moz-transition: left linear 1s, right linear 1s;
        -o-transition: left linear 1s, right linear 1s;
        -ms-transition: left linear 1s, right linear 1s;
        box-shadow: inset 0 0 0px 1.1vh rgb(203 166 123);
    }
    
    .elevator .door.doorL {
        left: 0;
    }
    
    .elevator .door.doorL.open {
        left: -5vw;
    }
    
    .elevator .door.doorR {
        right: 0;
    }
    
    .elevator .door.doorR.open {
        right: -5vw;
    }
    
    .elevator.floor1 {
        top: 71.5vh;
    }
    
    .elevator.floor2 {
        top: 48vh;
    }
    
    .elevator.floor3 {
        top: 24.5vh;
    }
    
    .elevator.floor4 {
        top: 0.85vh;
    }
    
    .elevator .sign {
        position: absolute;
        width: 5vw;
        height: 1.6vh;
        background-color: #ba8323;
        color: white;
        text-align: center;
        font-size: 0.7vw;
        font-weight: bold;
        font-family: verdana;
        left: 2.5vw;
    }
    /* End elevator */
    
    @keyframes MoveDown {
        100% {
            margin-top: 2vh;
        }
        0% {
            margin-top: -2vh;
        }
    }
    
    @keyframes MoveUp {
        100% {
            margin-top: -2vh;
        }
        0% {
            margin-top: 2vh;
        }
    }
    
    @keyframes pulse-white {
        0% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.473);
        }
        70% {
            transform: scale(1);
            box-shadow: 0 0 0 1vh rgba(255, 255, 255, 0);
        }
        100% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        }
    }
    
    @keyframes pulse-red {
        0% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.534);
        }
        70% {
            transform: scale(1);
            box-shadow: 0 0 0 1vh rgba(255, 255, 255, 0);
        }
        100% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        }
    }
    
    @keyframes pulse-Brown {
        0% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgb(42, 25, 18);
        }
        70% {
            transform: scale(1);
            box-shadow: 0 0 0 1vh rgba(255, 255, 255, 0);
        }
        100% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        }
    }
    
    @keyframes pulse-green {
        0% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(6, 126, 30, 0.534);
        }
        70% {
            transform: scale(1);
            box-shadow: 0 0 0 1vh rgba(255, 255, 255, 0);
        }
        100% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        }
    }
    
    @keyframes action {
        0% {
            transform: rotate(0);
        }
        25% {
            transform: rotate(10deg);
        }
        50% {
            transform: rotate(0);
        }
        75% {
            transform: rotate(-10deg);
        }
        100% {
            transform: rotate(0);
        }
    }
    
    @keyframes scale-in {
        0% {
            -webkit-transform: scale(0);
            transform: scale(0);
        }
        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }